//movile first, cambiar cosas como que el logo quede al lado
//de el titulo cuando cambie a resoluciones mayores y redondo
gris_oscuro = #444
naranja = #FE9A2E

body
	background #E8E8E8
	color gris_oscuro
	font-family Arial
	font-size 16px
	
header
	background gris_oscuro
	box-shadow 0 5px 0 rgba(0,0,0,0.2) black
	color white
	overflow hidden
	padding 0.5em 1.5em 1em 1em
	position relative
	
	.logo
		border-right 2px solid naranja
		border-bottom 2px solid naranja
		float right
		width 90px
		height 90px
		img
			//border-radius 50% si quiero activarlo! 
			//esto lo que hace es: poner el logo redondo.
			width 80px
						
	.titular
	 	margin 100 // un solo numero indica alrededor 
	 	position absolute
	 	.titulo
			font-size 18px
			font-weight normal
			//margin 0
			//padding 0
			
nav
	background naranja
	border-left 8px solid white
	box-shadow 0 5px 0 rgba(0,0,0,0.4)
	position relative
	z-index 1
	
	&:before
		border-bottom 20px solid naranja
		border-left 10px solid white
		border-top 20px solid naranja
		content ""
		position absolute
		top 0
		left 0
	
	.menu
		height 40px
		line-height 40px
		margin 0 1em
		padding 0
		overflow-x auto
		white-space nowrap
		
		li 
			display inline-block
			margin 0 
			
			a
				color white
				display block
				margin 0 0.5em
				padding 0 0.2em
				text-decoration none
				//text-shadow 0.5px 0.5px 0px black sombra de el contenido a 
	
	.lista
		margin 1em 0 0 0
		text decoration none

.left
	float left
.right
	float right

	
section
	padding 0.5em
	margin 0 0 1em 0
	
	article
		background white
		border-radius 0.5em
		box-shadow 5px 5px 10px rgba(0,0,0,0.5)
		padding 0.5em
		margin 1em 2% 1em 1em
		width 40%
		
	article, figure
		display inline-block
		vertical-align top
		
	.imagen
		background black
		width 40%
		
		img
			max-width 100%
footer
	background gris_oscuro
		