//movile first, cambiar cosas como que el logo quede al lado
//de el titulo cuando cambie a resoluciones mayores y redondo
gris_oscuro = #444
naranja = #FE9A2E

body
	background #E8E8E8
	color gris_oscuro
	font-family Arial
	font-size 16px
	
header
	background gris_oscuro
	color white
	padding 0.5em 1.5em 1em 1em
	position relative
	
	.logo
		border-right 2px solid naranja
		border-bottom 2px solid naranja
		float right
		width 90px
		height 90px
		img
			//border-radius 50% si quiero activarlo! 
			//esto lo que hace es: poner el logo redondo.
			width 80px
						
	.titular
	 	margin 100 // un solo numero indica alrededor 
	 	position absolute
	 	.titulo
			font-size 18px
			font-weight normal
			//margin 0
			//padding 0
			
nav
	background naranja
	
	
.left
	float left
.right
	float right